In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.feature_extraction import DictVectorizer

In [3]:
df = pd.read_csv('data/car_data.csv')

In [6]:
df.columns

Index(['Model', 'Selling Price', 'Kilometers Driven', 'Year', 'Owner',
       'Fuel Type', 'Transmission', 'Insurance', 'Car Condition'],
      dtype='object')

In [7]:
df.columns = df.columns.str.replace(' ','_').str.lower()

In [5]:
df = df[['model', 'selling_price', 'year','transmission', 'car_condition']].iloc[[1,200, 999, 17, 1900, 2100]]

KeyError: "None of [Index(['model', 'selling_price', 'year', 'transmission', 'car_condition'], dtype='object')] are in the [columns]"

In [25]:
df.columns = df.columns.str.replace(' ','_').str.lower()

In [26]:
df

                  model  selling_price  year transmission  car_condition
1       ToyotaEtiosLiva         313799  2013       MANUAL            4.4
200     MarutiWagonR1.0         235499  2010       MANUAL            4.5
999   TataIndicaVistaVX         181500  2012       MANUAL            3.9
17       HondaCitySVCVT         615799  2016    AUTOMATIC            4.4
1900   Hyundaii10SPORTZ         168899  2008       MANUAL            4.4
2100        MarutiSwift         506399  2014       MANUAL            4.5

In [31]:
df['transmission==MANUAL']=(df.transmission=='MANUAL').astype(int)

In [32]:
del df['transmission==MANUAL']

In [33]:
df

                  model  selling_price  year transmission  car_condition
1       ToyotaEtiosLiva         313799  2013       MANUAL            4.4
200     MarutiWagonR1.0         235499  2010       MANUAL            4.5
999   TataIndicaVistaVX         181500  2012       MANUAL            3.9
17       HondaCitySVCVT         615799  2016    AUTOMATIC            4.4
1900   Hyundaii10SPORTZ         168899  2008       MANUAL            4.4
2100        MarutiSwift         506399  2014       MANUAL            4.5

In [35]:
df.car_condition = df.car_condition.astype(str)

In [36]:
dict_train = df.to_dict(orient='records')

In [37]:
dv = DictVectorizer(sparse=False)

In [38]:
dv.fit(dict_train)

DictVectorizer(sparse=False)

In [39]:
dv.get_feature_names()

['car_condition=3.9',
 'car_condition=4.4',
 'car_condition=4.5',
 'model=HondaCitySVCVT',
 'model=Hyundaii10SPORTZ',
 'model=MarutiSwift',
 'model=MarutiWagonR1.0',
 'model=TataIndicaVistaVX',
 'model=ToyotaEtiosLiva',
 'selling_price',
 'transmission=AUTOMATIC',
 'transmission=MANUAL',
 'year']

In [40]:
df

                  model  selling_price  year transmission car_condition
1       ToyotaEtiosLiva         313799  2013       MANUAL           4.4
200     MarutiWagonR1.0         235499  2010       MANUAL           4.5
999   TataIndicaVistaVX         181500  2012       MANUAL           3.9
17       HondaCitySVCVT         615799  2016    AUTOMATIC           4.4
1900   Hyundaii10SPORTZ         168899  2008       MANUAL           4.4
2100        MarutiSwift         506399  2014       MANUAL           4.5

In [41]:
dv.transform(dict_train)

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 3.13799e+05,
        0.00000e+00, 1.00000e+00, 2.01300e+03],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 2.35499e+05,
        0.00000e+00, 1.00000e+00, 2.01000e+03],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 1.81500e+05,
        0.00000e+00, 1.00000e+00, 2.01200e+03],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 6.15799e+05,
        1.00000e+00, 0.00000e+00, 2.01600e+03],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.68899e+05,
        0.00000e+00, 1.00000e+00, 2.00800e+03],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 5.06399e+05,
        0.00000e+00, 1.00000e+00, 2.01400e+03]])